body{
    background-color: #252525;
}

body{
    display: flex;
    justify-content: center;
}

#P1_container, #P2_container{
    width: 10%;
}

.health{
    width: 100%;
    display: flex;
}
.hp{
    background-color: red;
    aspect-ratio: 1;
    height: 1rem;
    border: 1px solid #252525;
}

.powers{
    display: flex;
}
.powers img{
    aspect-ratio: 1;
    width: 20%;
}
.name{
    color: aliceblue;
}

.newGame, .mainMenu {
    font-family: "Pixel-Art Regular";   
    width: 9rem;
    height: 4rem;
}
.mainMenu{
    margin-top: 1rem;
}
.endGame{
    background-color: rgba(218, 93, 232, 0.7);
    height: 400px;
    width: 400px;
    position: absolute;
}