@import url(../main.css);

body{
    display: flex;
    justify-content: center;
}

#P1_container, #P2_container{
    width: 20%;
    margin: 2rem;
}

.health{
    width: 100%;
    display: flex;
    justify-content: center;
}
.hp{
    background-image: url(heart.png);
    background-size: cover;
    aspect-ratio: 1;
    height: 3rem;
}

.powers{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.powers img{
    aspect-ratio: 1;
    width: 18%;
    margin: 2%;
}

.newGame, .mainMenu {
    font-family: "Pixel-Art Regular";   
    width: 9rem;
    height: 4rem;
}
.mainMenu{
    margin-top: 1rem;
}


.endGame {
    top: 36%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(37, 37, 39, 0.952);
    height: 400px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;    
    /*background-image: url("../images/blured_dark.png");*/
    position: absolute;
    display: none;
}


canvas{
    box-shadow: 0 0 20px var(--accent);
}

.name{
    text-align: center;
    margin-bottom: .5rem;
}

#P1_container > img, #P2_container > img{
    display: block;
    width: 34%;
    margin: auto;
    aspect-ratio: 1;
}
h4{
    text-align: center;
}
#endGameText{
    text-align: center;
}
.highlight{
    color: var(--gold);
    font-weight:400;
    font-size: 1.5em;
}
.controls{
    position: absolute;
    bottom: 0;
    width: 30%; /* Make the image take up 100% of the container's width */
    object-fit: cover; /* Maintain the aspect ratio while covering the container */
}
.controls.player1{
    left: 2em;
}
.controls.player2{
    right: 2em;
}
@media (max-width: 1280px) {
    .endGame{
        top: 41%;
    }
}