.textAreaContainer{
    text-align: center;
}
.buttonContainer{
    text-align: right;
}
.buttonContainer .sendButton{
    margin-right: 9rem;
    height: 4rem;
    width: 10rem;
    margin-top: 1.3rem;
}
.buttonContainer .closeButton{
    margin-right: 5rem;
    height: 2rem;
    width: 5rem;
}
.textArea{
    resize: none;
}
.sendButton, .closeButton{
    font-family: "Pixel-Art Regular";   
    user-select: none;
}