body{
    background: linear-gradient(yellow, #00a4ff);
    background-attachment: fixed;
}
.gametitle{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    -webkit-text-stroke: 1px rgb(193, 125, 42);
    color: rgb(178, 190, 21);
    text-shadow: 4px 4px 4px black;
    user-select: none;
    font-family: "Pixel-Art Regular";   
}
.game,.scoreboard{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    user-select: none;   
}
.scoreboard{
    margin-top: 0.2rem;
}
.scoreboardButton{
    background-color: #38a8aa;
    width: 35rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 1rem;
}
.gameButton{
    background-color: #aeff00;
    width: 35rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 1rem;
}
.game:hover,.scoreboard:hover{
    position: relative;
    top: -4px;
    left: -4px;
    text-shadow: 4px 4px 4px rgb(177, 204, 57);
}
button{
    font-family: "Pixel-Art Regular";   
    font-size: 4rem;                                  
}

img{
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}