body{
    background: url("bg.jpg");
    background-size: cover;
    
    display: flex;
}
*:not(div,body,html){
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    font-family: "Pixel-Art Regular";   
}
body>div{
    flex: 1;
    padding: 6rem ;
}

input{
    width: 50%;
    margin: 10vh 25%;
    height: 2rem;
    font-size: 1.6rem;
    background-color: #191b22;
    border: 2px solid orangered;
    color: white;
}
body>div>div{
    display: flex;
    width: 100%;
    justify-content: center;
}
body>div>div img{
    image-rendering: pixelated;
    height: 6rem;
}
body>div>div button{ 
    margin: 20px;
    height: 6rem;
    width: 2rem;
}

.map{
    height: 11rem;
}

#go{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    font-size: 3rem;
}

button, img{
    user-select: none;
    background-color: greenyellow;
}

button:hover{
    cursor: pointer;
}