body {
    background: url("bg.jpg") center center fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0;
}

.searchBar {
    height: 4rem;
    width: 35rem;
    text-align: center;
    font-family: inherit;
    outline: none;
    font-size: 2rem;
    display: flex;
    margin: auto;
}

.scoreboardContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 2rem;
}

ul {
    user-select: none;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.titleContainer {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.player {
    margin: 0 2rem; /* Adjust margin as needed */
}

.hyphen {
    margin: 0 1rem; /* Adjust margin as needed */
}

.playerName,
.playerPoint {
    width: 8rem;
    display: inline-block;
    text-align: center;
}

.titleOfPage {
    padding-top: 1rem;
    text-align: center;
    font-size: 5rem;
}

.goToMainMenuButton {
    font-family: inherit;
    outline: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 15rem;
    text-align: center;
    margin-top: 3rem;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 35rem;
}

.topScoreSkinConatiner {
    margin-top: 2.5rem;
    padding-left: 10rem;
}

.playerSkinWithHighestScore {
    height: 100px;
    width: 100px;
}

@media (max-width: 1280px) {
    .searchBar {
        height: 2rem;
        width: 30rem;
        font-size: 1.5rem;
    }
    .playerName,
    .playerPoint {
        width: 4rem;
    }
    .goToMainMenuButton {
        height: 3rem;
        width: 15rem;
        font-size: 1.5rem;
    }
    .scoreboardContainer{
        height: 40vh;
    }
    .topScoreSkinConatiner{
        margin-top: 1.4rem;
        width: 15rem;
        margin-left: 5rem;
    }
    .container{
        margin-left: 27rem;
    }
    h1{
        font-size: 1.5rem;
    }
    li:nth-child(1){
        font-size: 2.4rem !important;
    }
    li:nth-child(2){
        font-size: 2.2rem !important;
    }
    li:nth-child(3){
        font-size: 2rem !important;
    }
    ul li{
        font-size: 1.8rem !important;
    }
}
