body {
    background: url("bg.jpg") center center fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0;
}
.searchBar{
    height: 4rem;
    width: 35rem;
    text-align: center;
    font-family: inherit;
    outline: none; 
    font-size: 2rem;
    display: flex;
    margin: auto;
}

.scoreboardContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;    
    font-size: 2rem;
}

ul{
    user-select: none;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.titleContainer {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}
.player {
    margin-right: 5rem;
    margin-left: 5rem;
}
.hyphen{
    margin-left: 2rem;
    margin-right: 2rem;
}

.playerName,
.playerPoint {
    width: 8rem; /* Set the desired width */
    display: inline-block; /* Make them inline-block to respect the width */
    text-align: center; /* Center the text within the element */
}

.titleOfPage{
    padding-top: 1rem;
    text-align: center;
    font-size: 5rem;
}
@media (max-width: 1280px) {
    .searchBar{
        height: 2rem;
        width: 30rem;
        font-size: 1.5rem;
    }
}