@import url(../main.css);

img{
    image-rendering: pixelated;
    box-shadow: 0 0 10px var(--background);
}

@keyframes growShrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Adjust the scale factor for the maximum size */
    }
}

body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-image: url("../images/blured_dark.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.centerpane{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-grow: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.mapContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.map{
    flex-basis: 60%;
}

.sidepane{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis: 30%;
    padding-top: 20vh;
    font-size: 3.4rem;
    text-align: center;
}
.sidepane>*{
    margin-top: 3rem;
}
.sidepane input{
    font-size: 2rem;
    width: 80%;
}
.skinSelector{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.skin{
    flex-basis: 30%;
}

button.stepper{
    flex-basis: 10%;
    font-size: 5rem;
}

.loadPlayerSkins{
    width: fit-content;
    margin: 0.4rem auto 0.4rem auto;
    padding: 0.6rem;
    font-size: 1.2rem;
}

.startGame{
    background-color: var(--primary);
    padding: 0.2rem 0 0.5rem 0;
    font-size: 5rem;
}
.startGame:not(:disabled){
    animation: growShrink 2s infinite;
}

button:hover:not(:disabled){
    cursor: pointer;
    transform: scale(1.1);
    border-color: var(--text);
    background-color: var(--primary);
    box-shadow: 0 0 20px var(--primary);
    animation: none;
}

button:disabled{
    background-color: var(--accent-dark);
    border: 5px solid var(--background);
    color: var(--text-dark);
    cursor: not-allowed;
}

/* Vignette effect */
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body::before {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 80%);
}

