@import url('https://fonts.googleapis.com/css?family=VT323:700|VT323:400');
/* https://www.realtimecolors.com/?colors=e6e6e6-000000-099a45-8c3c31-546283&fonts=VT323-VT323 */
:root{
    --text: #e6e6e6;
    --text-dark: #b6b6b6;
    --background: #000000;
    --primary: #099a45;
    --secondary: #8c3c31;
    --accent: #546283;
    --accent-dark: #344263;
}

* {
  font-family: 'VT323';
  font-weight: 400;
  color: var(--text);
}

button {
  background-color: var(--accent);
  border-color: var(--accent-dark);
  color: var(--text);
  user-select: none;
  border-radius: 1rem;
}
input{
  background-color: var(--background);
  color: var(--text);
  text-align: center;
}
